
.alhome{
    max-width: 900px;
    border-radius: 12px;
    background: rgba(238, 241, 241, 0.4);
    padding: 20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    margin:30px auto;
    font-family:cursive
    
}

.home{
    font-size:28px;
    font-weight:bold;
    text-align:center;
    margin-bottom: 20px;
    color:#333
}
.task-form{
    display:flex;
    justify-content: center;
    gap:10px;
    margin:25px;
}
.inputbox{
    flex:1;
    padding:10px;
    border:solid #ccc ;
    border-radius:10px;
}

.task-form button{
    padding:10px 8px;
    border-radius: 10px;
    border:solid #333;
    background:#007bff;
    color:whitesmoke;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.task-form button:hover{
    background: #0056b3;
} 

.all-tasks-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.task-section{
    background: rgb(228, 152, 13);
    border-radius: 10px;
    padding:15px;
    box-shadow: 0 3px 8px rgb(0,0,0,0.3);
}

.task-section h2 {
 font-size: 20px;
 text-align: center;
 border-bottom: white 2px solid;
 padding-bottom: 6px;
}

.task-section li{
    background: #f1f3f5;
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    display: flex;
    gap:10px;
    align-items: center;
}

.task-section button{
    background: rgb(206, 216, 12);
    border-radius: 10px;
    transition: background 0.3 ease; 
    cursor: pointer; 
    color: white;
}
.task-section li button:nth-child(1) {
  background:rgb(80, 134, 235);
  color: white;
}
.task-section li button:nth-child(1):hover {
  background: #0a6674;
}

.task-section li button:nth-child(2) {
    background: #4ade80;
    color: white;
}

.task-section li button:nth-child(2):hover{
    background-color:  #1ebad2;
}

.task-section:nth-child(1){border-top: 4px solid rgb(40, 110, 231);}
.task-section:nth-child(2){border-top: 4px solid rgb(40, 190, 231);}
.task-section:nth-child(3){border-top: 4px solid rgb(71, 25, 171);}




